### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [369]:

import pandas as pd

file_to_load = "Resources/purchase_data.csv"

main_df = pd.read_csv(file_to_load)

main_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

[## Player Count

* Display the total number of players

In [378]:
total_players = len(main_df["SN"].value_counts())
player_count_df = pd.DataFrame({"Total Number of Players":[total_players]})
player_count_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [381]:

unique_items = len(main_df["Item ID"].value_counts())
price_mean = round(main_df["Price"].mean(),2)
total_purchases = len(main_df["Purchase ID"].value_counts())
revenue = main_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Unique Items":[unique_items], "Average Purchase Price":[price_mean], "Total Purchases":[total_purchases],"Total Revenue":[revenue]})

purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)

purchasing_analysis_df

   Unique Items Average Purchase Price  Total Purchases Total Revenue
0           179                  $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [386]:

gender_unique_df = main_df.drop_duplicates(subset='SN')

gender_count = gender_unique_df["Gender"].value_counts()
gender_perc = round((gender_count / total_players) * 100,2)

gender_demo = pd.DataFrame({"Percentage of Players": gender_perc, "Total Count": gender_count})

gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2f}%".format)

gender_demo

                      Percentage of Players  Total Count
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [390]:
grouped_gender_purchase_df = main_df.groupby("Gender")

grouped_gender_new = pd.DataFrame(grouped_gender_purchase_df["Purchase ID"].count())

grouped_gender_new["Average Purchase Price"] = grouped_gender_purchase_df["Price"].mean()
grouped_gender_new["Total Purchase Value"] = grouped_gender_purchase_df["Price"].sum()
grouped_gender_new["Avg Total Purchase"] = grouped_gender_purchase_df["Price"].sum() / gender_count

grouped_gender_new = grouped_gender_new.rename(columns={"Purchase ID":"Purchase Count"})

grouped_gender_new["Average Purchase Price"] = grouped_gender_new["Average Purchase Price"].map("${:,.2f}".format)
grouped_gender_new["Total Purchase Value"] = grouped_gender_new["Total Purchase Value"].map("${:,.2f}".format)
grouped_gender_new["Avg Total Purchase"] = grouped_gender_new["Avg Total Purchase"].map("${:,.2f}".format)

grouped_gender_new

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [406]:

bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

gender_unique_df["Age Groups"] = pd.cut(gender_unique_df["Age"].astype(float), bins, labels=ages)
grouped_age = gender_unique_df.groupby("Age Groups")
grouped_age_df = grouped_age.count()
grouped_age_df = pd.DataFrame(grouped_age_df["Age"])

grouped_age_percent_df = (grouped_age_df / total_players) * 100
grouped_age_df["Age Percent"] = grouped_age_percent_df

grouped_age_df = grouped_age_df.rename(columns={"Age": "Count", "Age Percent":"Percentage of Total"})
grouped_age_df["Percentage of Total"] = grouped_age_df["Percentage of Total"].map("{:,.2f}%".format)

grouped_age_df

            Count Percentage of Total
Age Groups
<10            24               4.17%
10-14          41               7.12%
15-19         150              26.04%
20-24         232              40.28%
25-29          59              10.24%
30-34          37               6.42%
35-39          26               4.51%
40+             7               1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [435]:
age_ranges_df = main_df.copy()

age_ranges_df["Age Group"] = pd.cut(age_ranges_df["Age"].astype(float), bins, labels=ages)
age_ranges_grouped = age_ranges_df.groupby("Age Group")
age_ranges_grouped_df = age_ranges_grouped.count()
age_ranges_grouped_df = pd.DataFrame(age_ranges_grouped["Purchase ID"])

age_ranges_grouped_df.rename(columns={"Purchase ID":"Purchase Count"},inplace=True)

purchase_counts = age_ranges_grouped["Price"].count()
average_prices = round(age_ranges_grouped["Price"].mean(), 2)
total_spent = round(age_ranges_grouped["Price"].sum(), 2)
spending_per_person = round(total_spent/total_players, 2)

purchasing_analysis_age = pd.DataFrame({"Purchase Count":purchase_counts, "Average Purchase Price":average_prices, "Total Purchase Value":total_spent, "Avg Total Purchase per Person":spending_per_person})

purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,32,$3.40,$108.96,$0.19
10-14,54,$2.90,$156.60,$0.27
15-19,200,$3.11,$621.56,$1.08
20-24,325,$3.02,$981.64,$1.70
25-29,77,$2.88,$221.42,$0.38
30-34,52,$2.99,$155.71,$0.27
35-39,33,$3.40,$112.35,$0.20
40+,7,$3.08,$21.53,$0.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [417]:

count_per_SN = main_df.groupby("SN")["Price"].count()
count_per_SN_df = pd.DataFrame(count_per_SN)

price_per_SN_mean = main_df.groupby("SN")["Price"].mean()
count_per_SN_df["Average Purchase Price"] = price_per_SN_mean
count_per_SN_df["Total Purchase Value"] = count_per_SN * price_per_SN_mean

count_per_SN_df.rename(columns={"Price":"Purchase Count"},inplace=True)
count_per_SN_df = count_per_SN_df.sort_values(by=["Total Purchase Value"],ascending=False)
count_per_SN_df["Average Purchase Price"] = count_per_SN_df["Average Purchase Price"].map("${:,.2f}".format)
count_per_SN_df["Total Purchase Value"] = count_per_SN_df["Total Purchase Value"].map("${:,.2f}".format)

count_per_SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [420]:
pop = main_df.filter(['Item ID','Item Name','Purchase ID','Price'])
pop_group = pop.groupby(['Item ID','Item Name'])

pop_df = pd.DataFrame(pop_group['Purchase ID'].count()) 
pop_df = pop_df.rename(columns={"Purchase ID":"Purchase Count"})
pop_df["Purchase Price"] = pop_group["Price"].sum()

pop_purchase_count = pop_df["Purchase Count"]
pop_purchase_price = pop_df["Purchase Price"]

pop_df["Total Purchase Value"] = pop_purchase_count * pop_purchase_price

pop_sorted_purchase_df = pop_df.sort_values(by=["Purchase Count"],ascending=False)

pop_sorted_purchase_df["Purchase Price"] = pop_sorted_purchase_df["Purchase Price"].map("${:,.2f}".format)
pop_sorted_purchase_df["Total Purchase Value"] = pop_sorted_purchase_df["Total Purchase Value"].map("${:,.2f}".format)

pop_sorted_purchase_df.head(10)

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$779.87
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$609.12
145,Fiery Glass Crusader,9,$41.22,$370.98
132,Persuasion,9,$28.99,$260.91
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$285.93
82,Nirvana,9,$44.10,$396.90
75,Brutality Ivory Warmace,8,$19.36,$154.88
103,Singed Scalpel,8,$34.80,$278.40
34,Retribution Axe,8,$17.76,$142.08
37,"Shadow Strike, Glory of Ending Hope",8,$25.28,$202.24

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [438]:
pop_sorted_price_df = pop_df.sort_values(by=["Purchase Price"],ascending=False)

pop_sorted_price_df["Purchase Price"] = pop_sorted_price_df["Purchase Price"].map("${:,.2f}".format)
pop_sorted_price_df["Total Purchase Value"] = pop_sorted_price_df["Total Purchase Value"].map("${:,.2f}".format)

pop_sorted_price_df.head(10)

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$779.87
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$609.12
82,Nirvana,9,$44.10,$396.90
145,Fiery Glass Crusader,9,$41.22,$370.98
103,Singed Scalpel,8,$34.80,$278.40
59,"Lightning, Etcher of the King",8,$33.84,$270.72
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$285.93
78,"Glimmer, Ender of the Moon",7,$30.80,$215.60
72,Winter's Bite,8,$30.16,$241.28
132,Persuasion,9,$28.99,$260.91